.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    margin: 2rem auto;
    width: 250px;
    --b: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #514b82;
    -webkit-mask:
      repeating-conic-gradient(#0000 0deg,#000 1deg 70deg,#0000 71deg 90deg),
      radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
    -webkit-mask-composite: destination-in;
            mask-composite: intersect;
    animation: l5 1s infinite;
}

@keyframes l5 {to{transform: rotate(.5turn)}}

.error-message {
    color: red;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1rem;
}

.forecast {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin: 25px 30%;
}

.map {
    width: 100%;
    height: 400px;
    margin-top: 1rem;
}

@media screen and (max-width: 1455px) {
    .forecast {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}
